/.idea/misc.xml
/.idea/modules.xml
/.idea/nd0821-c3-project.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
/src/tests/.pytest_cache/README.md
/src/tests/.pytest_cache/.gitignore
